@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


p, body, div, h1 {
  padding: 0px;
  margin: 0px;
  font-family: "Lilita One", sans-serif;
}

a {
  cursor: pointer;
}

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}



.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20em;
  gap: 2em;
}

.game-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;
  
}

.game-button {
  height: 3em;
  width: 7em;
  border-radius: 1.5em;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}


.tiktaktoe-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.row{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.column{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cell{
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  box-shadow: 0 0 0 0.05em black;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.modal {
  width: 40%;
  height: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-text {
  text-align: center;
  font-size: 2em;
  color: rgb(0, 0, 0);
}

.wordle-page {
  width: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.wordle-row {
  display: flex;
  flex-direction: row-reverse;
  gap: .3em;
}

.wordle-game{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: .3em;
}

.wordle-cell {
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border: solid .05em rgb(122, 122, 122)
}

.keyboard-letter-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: .5em;
}

.wordle-keyboard-button {
  height: 2.5em;
  padding-left: .5em;
  padding-right: .5em;
  background-color: rgb(201, 201, 201);
  border: none;
  border-radius: 10%;
  font-size: 1.3em;
  font-weight:bold;
  cursor: pointer;
}

.letter-choices {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.matching-page {
  width: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}