@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


p, body, div, h1 {
  padding: 0px;
  margin: 0px;
  font-family: "Lilita One", sans-serif;
}

a {
  cursor: pointer;
}

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiktaktoe-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
  gap: 2em;
}

.game-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;
  
}

.game-button {
  height: 3em;
  width: 7em;
  border-radius: 1.5em;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.row{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.column{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cell{
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  box-shadow: 0 0 0 0.1em black;
}

.game {
  border: inset 20px solid white;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.modal {
  width: 30%;
  height: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-text {
  font-size: 2em;
  color: rgb(20, 185, 20);
}